@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root
{
    /* --color-primary: #1A73E8; */
    --color-primary: #0081FF;
    --color-secundary: rgba(0, 0, 0, 0.822);
    --color-background: #1a73e80f;
    --font-primary: 'Poppins', sans-serif;;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
    text-decoration: none;
    color: black;
    scroll-behavior: smooth;
}

.a-link
{
    color: var(--color-primary);
    text-decoration: underline;
}

html body .load .nojs
{
    display: none;
}

html#nojs body .load .nojs
{
    display: flex;
    align-content: center;
    justify-content: center;
    user-select: none;
    border-left: 2px solid rgba(0, 0, 0, 0.761) ;
    padding-left: 25px;
}

html#nojs body header,
html#nojs body main
{
    display: none;
}

.load
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    user-select: none;
}

.load span
{
    font-size: 18px;
}

.load-effect
{
    width: 30px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    position: relative;
    border-radius: 5px;
    animation: rotate_load 5s linear infinite;
}

.load-effect::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background-image: linear-gradient(to right, var(--color-primary) 40%, #1a73e8bc);
    z-index: -1;
    border-radius: 4px;
    transform: scale(1.3);
    animation: rotate_load 5s linear infinite;
}

@keyframes rotate_load {
    from
    {
        transform: scale(1.3) rotateZ(0);
    }
    to
    {
        transform: scale(1.3) rotateZ(360deg);
    }
}

body header .top-header
{
    display: flex;
    align-items: center;
    justify-content: space-around   ;
    flex-direction: row;
    padding: 20px  0;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.23);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
}

body header .top-header .top-name a
{
    font-weight: 900;
    font-size: 20px;
    
}

body header .top-header .top-name a .blue-effect
{
    color: var(--color-primary);
}

body header .top-header nav,
body header .top-header ul
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
}

body header .top-header nav li
{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.685);
    font-weight: 500;
    padding: 0 15px;
    flex-grow: 1;
    list-style: none;
}

body header .top-header nav li a
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    position: relative;
    user-select: none;
}

body header .top-header nav li a::after
{
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--color-primary);
    height: 4px;
    width: 0;
    transform: translateY(-5px);
    transform-origin: left;
    transition: all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

body header .top-header nav li a:hover::after
{
    transform-origin: right;
    width: 100%;
}

body header .top-header nav li a i
{
    font-size: 18px;

}

body header .top-header nav li button
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: transparent;
    padding: 5px 10px;
    border: 0.5px solid var(--color-primary);
    border-radius: 7px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    color: var(--color-primary);
    font-weight: 700;
    letter-spacing: 1px;
    user-select: none;
}

body header .top-header nav li button:hover
{
    color: white;
    background-color: var(--color-primary);
}

body header .top-header nav li button i
{
    color: var(--color-primary);
    font-size: 15px;
}


body header .top-header nav li button:hover i
{
    color: white;
}

body header .top-header nav .contacts
{
    position: relative;
}

body header .top-header nav .contacts .contacts-info
{
    display: none;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    bottom: -101px;
    left: 0px;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.23);
    padding: 15px 15px;
    width: 100%;

    animation: openMenu .3s ease-in-out both;
    z-index: 2;
}

@keyframes openMenu {
    from
    {
        transform: translateY(-15px);
        opacity: 0;
    }
    to
    {
        transform: translateY(0px);
        opacity: 1;
    }
}


body header .top-header ul.mobile-menu
{
    display: none;
}

body header .top-header .openmenu-mobile
{
    display: none;
}

.ph-caret-up{
    transition: all .3s cubic-bezier(0.215, 0.610, 0.355, 1);
}


section
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


section.background-color-primary
{
    background-color: var(--color-background);
}

section.background-color-secondary
{
    background-color: white;
}


main section .about
{
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    padding: 200px  40px;
    gap: 95px;
}

main section .about .about-content
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 660px;
    
}

main section .about .about-content h1
{
    font-size: 3.5em;
    line-height: 63px;
    color: var(--color-secundary);
}

main section .about .about-content h1 span
{
    color: var(--color-primary);
}

main section .about .about-content p 
{
    margin-top: 25px;
    color: var(--color-secundary);
    font-size: 20px;

}

main section .about .about-content .socials
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 38px;
    gap: 25px;
}

main section .about .about-content .socials a i
{
    font-size: 40px;
    transition: all .2s ease-in-out;
}

main section .about .about-content .socials a i:hover
{
    color: var(--color-primary);
}


main section .about .my-photo
{
    position: relative;
    min-width: 22em;
    height: 22em;
    object-fit: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../assets/img/foto-lucas-transformed.png");
    background-color: var(--color-primary);
    outline: 10px solid var(--color-primary);
    transition: all .3s ease-in-out;
    border-radius: 54% 46% 54% 46%/48% 52% 42% 58%;
    border: 3px solid white;
}

main section .about .my-photo .shape
{
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    position: absolute;
    
    border-radius: 48% 52% 42% 58%/54% 46% 54% 46%;
    outline: 10px solid var(--color-primary);
    animation: photo_rotate 7s linear infinite;
    z-index: -1;
    transition: all .3s ease-in-out;
}


@keyframes photo_rotate {
    0%
    {
        transform: rotateZ(0deg);
    }

    100%
    {
        transform: rotateZ(360deg);
    }
}


main section .aboute-me
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

main section .aboute-me .technologies
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    transform: translateY(-30px);
}

main section .aboute-me .technologies > span
{
    font-weight: bold;
    font-size: 20px;
    border-right: 3px solid black;
    padding-right: 15px;
    margin-right: 60px;
    user-select: none;
}

main section .aboute-me .technologies .technologies-options
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
    
}

main section .aboute-me .technologies .technologies-options .img-technologies
{
    border-radius: 50%;
    padding: 5px;
    width: 60px;
    height: 60px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.119);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

main section .aboute-me .technologies .technologies-options .img-technologies img
{
    max-width: 35px;
    object-fit: cover;
}

main section .aboute-me .technologies .technologies-options .img-technologies span
{
    display: none;
    position: absolute;
    font-weight: bold;
    top: -8px;
    color: var(--color-secundary);
    padding: 2px 8px;
    border-radius: 4px;
    transition: all .1s ease-in-out;
    white-space: nowrap;
}

main section .aboute-me .technologies .technologies-options .img-technologies span.show-tecnologies
{
    display: flex;
    align-items: center;
    justify-content: center;
    animation:show_technologies .1s ease-in-out both;
}

@keyframes show_technologies {
    to
    {
        transform: translateY(-28px);  
    }
}

main section .aboute-me .about-me-description
{
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 35px;
    margin-top: 55px;
    padding-bottom: 155px;
}

main section .aboute-me .about-me-description .img-programing
{
    background-image: url("../assets/img/projects/programing.png");
    background-size: cover;
    background-position: center;
    width: 500px;
}

main section .aboute-me .about-me-description .about-me-summary
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    max-width: 320px;
}

main section .aboute-me .about-me-description .about-me-summary h4
{
    color: var(--color-primary);
    font-weight: bold;
    font-size: 17px;
}

main section .portfolio
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 75px 0;
}

main section .portfolio .portfolio-title
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
    min-width: 900px;
}

main section .portfolio .portfolio-title h4
{
    color: var(--color-primary);
    font-weight: bold;

    font-size: 17px;
}

main section .portfolio .portfolio-title h3
{
    font-size: 25px;
}

main section .portfolio .projects 
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 45px;
    margin-top: 85px;
}

main section .portfolio .projects .project-item
{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    gap: 35px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.119);
    padding: 25px;
    border-radius: 15px;
    background-color: white;
}

main section .portfolio .projects .project-item.reverse
{
    flex-direction: row-reverse;
}

main section .portfolio .projects .project-item .image-project
{
    background-color: var(--color-background);
    border-radius: 15px;
    width: 500px;
    object-fit: cover;
    overflow: hidden;

}

main section .portfolio .projects .project-item .image-project .image-project-item
{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all .8s cubic-bezier(0.175, 0.885, 0.32, 1);
}

main section .portfolio .projects .project-item .image-project .image-project-item:hover
{
    transform: scale(1.03);
}

main section .portfolio .projects .project-item .project-content
{
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;
}

main section .portfolio .projects .project-item .project-content .techs
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}

main section .portfolio .projects .project-item .project-content .techs .techs-item
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.119);
    padding: 10px 15px;
    user-select: none;
    transition: all .2s ease-in-out;
    position: relative;
    flex-grow: 1;
}

main section .portfolio .projects .project-item .project-content .techs .techs-item img
{
    width: 30px;
    height: 30px;
    object-fit: contain;
}


main section .portfolio .projects .project-item .project-content .links
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    gap: 25px;
}

main section .portfolio .projects .project-item .project-content .links a,
main section .portfolio .projects .project-item .project-content .links a i
{
    transition: all .2s ease-in-out;
    font-size: 19px;
}

main section .portfolio .projects .project-item .project-content .links a:hover,
main section .portfolio .projects .project-item .project-content .links a:hover i
{
    color: var(--color-primary);
    text-decoration: underline;

}

section .contacts
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 130px 0;
    width: 900px;
}

section .contacts .contacts-title
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

section .contacts .contacts-title h3
{
    font-size: 20px;
    font-weight: bold;
    color: var(--color-primary);
    user-select: none;
}

section .contacts .contacts-title h4
{
    color: var(--color-secundary);
    user-select: none;
}

section .contacts .contacts-options
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 35px;
    gap: 20px;
}

section .contacts .contacts-options .contacts-item
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
}

section .contacts .contacts-options .contacts-item i
{
    font-size: 25px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.119);
    padding: 15px;
}

section .contacts .contacts-options .contacts-item .contact-details
{
    display: flex;
    flex-direction: column;
}

section .contacts .contacts-options .contacts-item .contact-details a
{
    display: block;

}
section .contacts .contacts-options .contacts-item .contact-details a:hover
{
    transition: all .2s ease-in-out;
    color: var(--color-primary);
    text-decoration: underline;
}

footer
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 18px 0;
    background-color: var(--color-background);
}

footer span
{
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
}

footer span a
{

}

@media (max-width: 1260px) {

    main section .about
    {
        gap: 55px;
        padding: 176px 40px;
    }

    main section .about .my-photo
    {
        min-width: 28em;
        height: 28em;
    }
}

@media (max-width: 1010px){

    
    main section .aboute-me .about-me-description 
    {
        flex-direction: column;    
        padding-bottom: 15px 
    }

    main section .aboute-me .about-me-description  .img-programing
    {
        height: 300px;
    }

    main section .portfolio .portfolio-title
    {
        min-width: 100%;
    }

    main section .portfolio .projects .project-item
    {
        flex-direction: column;
    }

    main section .portfolio .projects .project-item.reverse
    {
        flex-direction: column;
    }

    main section .portfolio .projects .project-item .project-content
    {
        width: 500px;
    }

    main section .portfolio .projects .project-item .image-project
    {
        height: 300px;
    }

    section .contacts
    {
        width: 100%;
        align-items: flex-start;
        justify-content: center;
        padding-left: 45px;
    }

    section .contacts .contacts-options
    {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section .contacts .contacts-options .contacts-item
    {
        width: 100%;
    }
}

@media (max-width: 660px){

    body header .top-header
    {
        justify-content: space-between;
        padding: 20px 25px;
    }

    body header .top-header ul.desktop-menu
    {
        display: none;
    }

    body header .top-header .openmenu-mobile
    {
        display: flex;
    }

    body header .top-header ul.mobile-menu
    {
        display: flex;
        flex-direction: column;
        position: fixed;
        align-items: center;
        z-index: 999;
        background-color: white;
        top: 0;
        left: -100%;
        height: 100%;
        width: 100%;
        overflow: hidden;
        scroll-behavior: none;
        transition: all .3s ease-in-out;
    }

    body header .top-header ul.mobile-menu.open
    {
        left: 0;
    }

    body header .top-header ul.mobile-menu li
    {
        flex-grow: 0;
        font-size: 20px;
    }

    body header .top-header ul.mobile-menu .backmenu-mobile
    {
        position: absolute;
        top: 20px;
        right: 37px;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }

    body header .top-header ul.mobile-menu .backmenu-mobile i,
    body header .top-header .openmenu-mobile i
    {
        font-size: 28px;
    }

    body header .top-header .openmenu-mobile
    {
        border: none;
        outline: none;
        cursor: pointer;
        background-color: transparent;
    }

    body header .top-header button i
    {
        font-size: 35px;
    }

    main section .about {
        gap: 55px;
        padding: 141px 0px;
        overflow: hidden;
    }

    main section .about .about-content
    {
        padding: 0px 18px;
    }
    
    main section .about .my-photo
    {
        min-width: 320px;
        height: 320px;
    }

    main section .aboute-me .technologies
    {
        flex-direction: column;
        gap: 75px;
    }

    main section .aboute-me .technologies .technologies-options
    {
        gap: 25px;
    }

    main section .aboute-me .technologies > span
    {
        border: none;
        padding: 0;
        margin: 0;
        border-bottom: 3px solid black;
    }

    main section .aboute-me .about-me-description .img-programing
    {
        width: 320px;
    }

    main section .portfolio .portfolio-title
    {
        padding: 0 20px;
    }

    main section .portfolio .projects .project-item
    {
        max-width: 320px;
    }

    main section .portfolio .projects .project-item .project-content
    {
        width: fit-content;
    }

    main section .portfolio .projects .project-item .image-project
    {
        width: 100%;
        background-position: center;
    }

    main section .portfolio .projects .project-item .project-content .links
    {
        width: 100%;
    }
    section .contacts
    {
        padding: 25px;
    }
    section .contacts .contacts-options .contacts-item .contact-details a
    {
        text-overflow: ellipsis;
        display: block;
        width: 221px;
        overflow: hidden;
    }

    footer
    {
        padding: 35px 0;
    }

    footer span {
        font-size: 15px;
    }
}